@media (max-width: 680px) {
    .wrapper{
        .navBar {
            .hamburger {
                display: block;
                font-size: 40px;
                display: flex;
                justify-content: center;
                background-color: transparent;
                border: 0;
                cursor: pointer;
            }
            .menu.show {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
            }
            .menu {
                display: none;
                flex-direction: column;
            }
        }
    }

    .recipeBlog {
    margin-top: 100px;
        h2, .blogDate {
            text-align: center;
        }
    }

    .aboutAuthor {
        .authorPortrait {
            flex-basis: 0;
        }
    }

    .relatedPosts h4 {
        text-align: center;
    }

    .blogGallery {
        ul {
            flex-direction: column;
        }
    }

    .commentSection {
        .commentPortrait {
            flex-basis: 0;
        }
    }

    .commentFormBox {

        h4, p {
            text-align: center;
        }

        .commentForm {
            
            #name, 
            #email, 
            #website {
                flex-basis: 100%;
                width: 100%;
                margin-bottom: 10px;
            }

            .theButton {
                margin: 0 auto;
            }
        }
    }

}