#contact {
    background-image: url(../assets/contact-1.jpeg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: block;

    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        max-width: 90%;
    }

    .hamburger {
        display: none;
    
    }
    
    .menu {
        display: flex;
        margin: 0;

        a:hover, a:focus,
        i:hover, i:focus  {
            color: #539908;
            
        }

        a:visited,
        i:visited {
            text-decoration: none;
            
        }
    }
    
    .menu li:nth-child(7) {
        color: #539908;
        
    }
    
        
}

.dragonFruitImg {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.formSection {
    display: flex; 

    .formContainer {
        flex-basis: 65%;
        padding-left: 200px;
        h2 {
            padding: 0 15px;
        }
        
        .contactForm {
            display: flex;
            flex-wrap: wrap;

            input, textarea, 
            button {
                padding: 15px;
                margin: 10px;
            }

            button {
                font-size: 16px;
                font-family: $raleway;
                color:#539908;
                text-transform: uppercase;
                font-weight: bold;
                border: none;
                background-color: white;
            }

            textarea {
                resize: none;
            }

        }
    }

    .contactDetails {
        flex-basis: 35%;
        background-color: #f6f6f6;
        padding-right: 200px;
        h4 {
            margin: 50px 0 20px 0;
        }

        p {
            margin-top: 0;
        }

        ul {
            padding: 0;
            
            li {
                padding: 0 0 20px 0;
                
                span {
                    display: block;
                    
                }
            }
        }
        
    }
}

.contactForm #email, #name {
    width: calc(50% - 20px);
}

#subject, #message {
    width: 100%;
    display: block;
}

.formContainer, 
.contactDetails {


    .wrapper {
        padding: 100px 0;

        h2 {
            padding-bottom: 50px;
        }
    }

    
}