#footer {
    background-color: #333333;
}

.footerFlexBox {
    display:flex;
    justify-content: space-around;
    padding: 50px 0;

    h3, h4 {
        letter-spacing: 1px;
    }

    h3 {
        color:#539908;
        font-size: 30px;
    }

    h4 {
        color: white;
        font-size: 18px;
    }

    .footerContact, .recentPosts, .subscribe {
        flex-basis: 33%;
        padding: 20px;
        margin: 50px;
        

        ul {
            padding: 0;
            margin-top: 50px;
        }

        p {
            margin-top: 50px;
        }

        li {
            margin-top: 15px;
            padding: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #9999995e;
        

        }

    }


}

.footerContact {
    span {
        display: block;
    }
}

.footerContact li:last-child, .recentPosts li:last-child {
    border: none;   
}

.arrowButton {
    display: flex; 
    padding-bottom: 30px;
    border-bottom: 1px solid #9999995e;
    
    #email {
        background-color: rgba(128, 128, 128, 0.582);
        color: #d1cdcd;
        border: none;
        font-family: $lora;
        font-style: italic;
        padding: 10px 5px; 
        font-size: 13px;
    }

    button {
        background-color: #539908;
        border: none;
        color: white;
        padding: 10px;
        font-size: 16px;

    }
}

.socialIcons {
    display: flex;
    padding-top: 5px;

    i {
        color: white;
        padding: 10px 15px 0 0;
    }

}

#footNote {
    background-color: #2e2e2e;

    p {
        margin: 0;
        padding: 10px 70px;
        font-size: 13px;
        color:#d1cdcd;
    }
}