header {
    background-image: url(../assets/home-1.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: block;

    

    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        max-width: 90%;
    }
    
    .navBar ul {
        display: flex;
        margin: 0;
    }
    
    .navBar li:first-child {
        color: #539908;
        
    }
        
}





