#homePage {
    background-image: url(../assets/home-1.jpeg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: block;


    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        max-width: 90%;
    }

    
    .navBar {
            ul {
                
            display: flex;
            margin: 0;

                a:hover, a:focus,
                i:hover, i:focus  {
                    color: #539908;
                    
                }

                a:visited, 
                i:visited {
                    text-decoration: none;
                }

                .burger {
                    display: none;
                }
            
        }
    }
    
    .navBar li:first-child {
        color: #539908;
        
    }

    
}







