.recipes {
    display: flex;
    flex-wrap: wrap;
    .recipeText, .redLettuceBowl, .taco, .optionsText {
        flex-basis: 50%;
    }

    .recipeText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 50px;
        

    }
    .optionsText {
        display: flex;
        padding: 20px;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            li {
                flex-basis: 50%;
                
            }
        }
    }
        
}

