.recipes {
    
    .redLettuceFlexbox, 
    .tacoFlexbox {
        display: flex;
    }

    .redLettuceBowl, 
    .recipeText,
    .taco,
    .optionsText {
        flex-basis: 50%;
    }

    .redLettuceBowl,
    .taco {

        img {
            height: 100%;
        }
        
    }

    .recipeText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 100px;
        

        span {
            border-bottom: 4px solid #539908;
            padding-bottom: 10px;
            }

        .theButton {
            align-self: center;
            margin-top: 20px;
        }

        P {
            margin-top: 50px;
        }
        
    }

    .optionsText {
        display: flex;
        padding: 20px;
        background-color: #f6f6f6; 
        padding: 100px;

        h3 {
            position: relative;
                
        }

        i {
            position: absolute;
            left: -50px;
            font-size: 35px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            li {
                flex-basis: 50%;
                
            }
        }
    }
        
}





