@media (max-width: 1280px) {
    #homePage, #blog, #contact {
        height: 100%;

        .wrapper {
            display: flex;
            flex-direction: column;

            h1 {
                text-align: center;
                margin-bottom: 50px;
            }
            .navBar ul {
                flex-direction: column;
                align-items: center;
                padding: 0;
            }
            .navBar li {
                padding: 5px 0;
            }
        }

    }
}

// Header portraio tablet and small desktops
@media (max-width: 980px) {

    #homePage, #blog, #contact {
        height: 100%;

        .wrapper {
            display: flex;
            flex-direction: column;

            h1 {
                text-align: center;
                margin-bottom: 50px;
            }
            .navBar ul {
                flex-direction: column;
                align-items: center;
                padding: 0;
            }
            .navBar li {
                padding: 5px 0;
            }
        }

    }
}


// Header Landscape phone to portrait. 
@media (max-width: 768px) {
    #homePage  {
        height: 100%;

        .wrapper {
            display: flex;
            flex-direction: column;

            h1 {
                text-align: center;
                margin-bottom: 50px;
            }

            .navBar ul {
                flex-direction: column;
                align-items: center;
                padding: 0;
            }
    
            .navBar li {
                padding: 5px 0;
            }
        }
        
    }
}

// Header Phone Media Query (phone) 
@media (max-width: 480px) {
    
    #homePage {
        height: 100%;

        .wrapper {
            display: flex;
            flex-direction: column;

            h1 {
                text-align: center;
                margin-bottom: 50px;
            }

            .navBar ul {
                flex-direction: column;
                align-items: center;
                padding: 0;
            }
    
            .navBar li {
                padding: 5px 0;
            }
        }

    }
}

// Main Section Tablet and Small Desktops

@media (max-width: 980px) {
    .recipes {
        
        .redLettuceBowl, 
        .recipeText,
        .taco,
        .optionsText {
            flex-basis: 50%;
            padding: 0;
        }

        .recipeText, 
        .optionsText {
            padding: 10px;
        }

        .optionsText {

            p {
            font-size: 11px;
            line-height: 17px;
            }

            i {
                left: -40px;
                font-size: 27px;
            }
        }

    }
}

// Main section popular recipe Landscape phone to portrait

@media (max-width: 768px) {
    .recipes {
        
        .redLettuceFlexbox {
            flex-direction: column;

            .recipeText {
                padding: 20px 0;

                h2 span {
                    padding-bottom: 0;
                }
            }
        }

        .tacoFlexbox {
            flex-direction: column-reverse;
        }

        .redLettuceBowl, 
        .recipeText,
        .taco,
        .optionsText {
            flex-basis: 100%;
        }
    }

}

// Main section popular recipe (Phone)

    @media (max-width: 480px) {

    .recipes {
        
        .redLettuceFlexbox {
            flex-direction: column;
        }

        .tacoFlexbox {
            flex-direction: column-reverse;
        }

        .redLettuceBowl, 
        .recipeText,
        .taco,
        .optionsText {
            flex-basis: 100%;
            padding: 10px;
        }

    }
    .recipes {

        .recipeText {
            
            h2 span {
                border: none;
            }
        }
        .optionsText {

            h3 {
                text-align: center;
            }

            p {
                text-align: center;
            }

            i {
                left: -1000px;
            }

            ul {
                padding: 0;
                flex-wrap: nowrap;
                flex-direction: column;


                li {
                    padding: 0; 
                }
            }
        }

    }
}

// Restuarant statement portrait tablet and small desktops

@media (max-width: 980px) {
    .ourRestaurant {
        padding: 50px 0;

        .chairImage {
            margin: 50px 0;
            position: relative;

            .pinkLogo {
                top: -245px;
            }
            
        }

        h2 {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
        
        span {
            padding-bottom: 0;
        }

        p {
            margin: 0 0 50px 0;
        }

    }
}

// Restuarant statement media query Landscape phone to portrait

@media (max-width: 768px) {
    .ourRestaurant {

        .chairImage {
            margin: 50px 0;
            position: relative;

            .pinkLogo {
                left: -1000px;
                z-index: 999;

            }
            
        }

        h2 {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
        
        span {
            border-bottom: none;
            padding-bottom: 0;
        }

        p {
            margin: 0 0 50px 0;
        }

    }
}

// Restuarant statement media query (Phone)

@media (max-width: 480px) {

    .ourRestaurant {

        .chairImage {
            margin: 50px 0;
            position: relative;

            .pinkLogo {
                position: absolute;
                object-fit: none;
                left: -1000px;
                top: -170px;
                z-index: 999;
            }
            
        }

        h2 {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
        
        span {
            border-bottom: none;
            padding-bottom: 0;
        }

        p {
            margin: 0 0 50px 0;
        }

    }

}




// Image Gallery (Phone) 
@media (max-width: 480px) {
    .gallery {
        
        img {
            width: calc(100% / 3);
        }
    }
}

// Quote Tablet and small desktop

@media (max-width: 980px) {
    .quoteMain {
        .wrapper {
            padding: 100px;
        }
    }

}

// Quote Media landscape to tablet 

@media (max-width: 768px) {
    .quoteMain {
        .wrapper {
            padding: 20px 0;
                
            h2 {
                font-size: 28px;
            }
                
            P {
                margin-top: 20px;
                font-size: 18px;

                .fa-quote-left,
                .fa-quote-right {
                    left: -1000px;
                }     
            }

            span {
                border-bottom: none;
            }

        }
    }
}

// Quote Media Query (Phone)

@media (max-width: 480px) {
    .quoteMain {
        .wrapper {
            padding: 20px 0;
                
            h2 {
                font-size: 28px;
            }
                
            P {
                margin-top: 20px;
                font-size: 18px;
            }

            span {
                border-bottom: none;
            }
        }
    }
}

// Footer portrait tablet and small desktops

@media (max-width: 980px) {
    .footerFlexBox {

        .footerContact, 
        .recentPosts, 
        .subscribe {
            margin: 0;
        }

    }

    #footNote p {
        padding: 10px 0;
        text-align: center;
    }
}

// Footer Landscape phone to portrait

@media (max-width: 768px) {
    .footerFlexBox {
        flex-direction: column;

        .footerContact, .recentPosts, .subscribe {
            margin: 0;
        }

        h3, h4, 
        li, p {
            text-align: center;
        }

        .arrowButton, .socialIcons {
            justify-content: center;
        }
    }

    #footNote p {
        padding: 10px 0;
        text-align: center;
    }
}

// Footer Media Query (Phone) 

@media (max-width: 480px) {
    .footerFlexBox {
        flex-direction: column;

        .footerContact, .recentPosts, .subscribe {
            margin: 0;
        }

        h3, h4, 
        li, p {
            text-align: center;
        }

        .arrowButton, .socialIcons {
            justify-content: center;
        }
    }

    #footNote p {
        padding: 10px 0;
        text-align: center;
    }

}






