@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

$raleway: 'Raleway', sans-serif;
$lora: 'Lora', sans-serif; 

// Text Colors  
// Brown grey: #999999
// Black: #2E2E2E
// White: #F6F6F6
// Black 2: #333333
// Green: #539908
    body {
        text-transform: uppercase;
        
        h1, h2, li, .theButton {
            font-family: $raleway;
            margin: 0; 
        }
        h1 {
            font-weight: bold;
            line-height: 24px;
            letter-spacing: 1.1px;
            font-size: 46px;
        }

        h2 {
            letter-spacing: 1.1px;
        }

        p {
            font-family: $lora;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.3px;
            text-transform: none;
            color: #999999;
            font-weight: bold;
        }

        li {
            list-style: none;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.5px;
            padding: 0 20px;
        }
    }

    .navBar li:first-child {
        color: #539908;
    }
