@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  text-transform: uppercase;
}
body h1, body h2, body li, body h3, body h4, body .theButton {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
body h1 {
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1.1px;
  font-size: 46px;
}
body h2 {
  letter-spacing: 1.1px;
}
body h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.5px;
}
body p {
  font-family: "Lora", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-transform: none;
  color: #999999;
  font-weight: bold;
}
body li {
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding: 0 20px;
}

.footerFlexBox li, .footerFlexBox p, .contactDetails li, .contactDetails p {
  font-family: "Lora", sans-serif;
  font-size: 13px;
  letter-spacing: 0.3px;
  text-transform: none;
  color: #999999;
  font-weight: normal;
}

.formSection input, .formSection textarea {
  background-color: #f6f6f6;
  font-family: "Lora", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-transform: none;
  color: #2e2e2e;
  font-weight: normal;
  border: none;
}
.formSection .contactDetails p {
  font-weight: normal;
}
.formSection .contactDetails p .workingHour {
  text-transform: uppercase;
  font-weight: bold;
  color: #2e2e2e;
  font-style: normal;
  font-family: "Raleway", sans-serif;
}
.formSection .contactDetails p span {
  font-style: italic;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.theButton {
  border: none;
  background-color: #539908;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

header {
  background-image: url(../assets/home-1.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: block;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
  max-width: 90%;
}
header .navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
header .navBar li:first-child {
  color: #539908;
}

.recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.recipes .recipeText, .recipes .redLettuceBowl, .recipes .taco, .recipes .optionsText {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.recipes .recipeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 100px;
}
.recipes .recipeText span {
  border-bottom: 4px solid #539908;
  padding-bottom: 10px;
}
.recipes .recipeText .theButton {
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 20px;
}
.recipes .recipeText P {
  margin-top: 50px;
}
.recipes .optionsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: #f6f6f6;
  padding: 100px;
}
.recipes .optionsText h3 {
  position: relative;
}
.recipes .optionsText i {
  position: absolute;
  left: -50px;
  font-size: 35px;
}
.recipes .optionsText ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.recipes .optionsText ul li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.ourRestaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ourRestaurant .chairImage {
  margin: 250px 0 100px 0;
  position: relative;
}
.ourRestaurant .chairImage .pinkLogo {
  position: absolute;
  -o-object-fit: none;
     object-fit: none;
  right: -260px;
  top: -170px;
}
.ourRestaurant span {
  border-bottom: 4px solid #539908;
  padding-bottom: 10px;
}
.ourRestaurant p {
  margin: 100px 300px 200px 300px;
  text-align: center;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery img {
  width: 33.3333333333%;
}

.quoteMain {
  background-color: rgb(209, 235, 166);
}
.quoteMain .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 100px;
}
.quoteMain .wrapper p {
  color: black;
  text-align: center;
  font-weight: normal;
  margin-top: 80px;
  font-style: italic;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.6px;
  position: relative;
}
.quoteMain .wrapper p i {
  color: #F6F6F6;
  font-size: 50px;
  opacity: 0.5;
}
.quoteMain .wrapper p .fa-quote-left {
  position: absolute;
  left: -70px;
  top: -15px;
}
.quoteMain .wrapper p .fa-quote-right {
  position: absolute;
  right: -70px;
  bottom: 30px;
}
.quoteMain .wrapper p span {
  display: block;
  border: none;
}
.quoteMain .wrapper span {
  border-bottom: 4px solid #539908;
  padding-bottom: 10px;
}

.scrollIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.scrollIcon .fa-solid {
  font-size: 40px;
  color: #f6f6f6;
  opacity: 0.5;
}
.scrollIcon .fa-solid:hover {
  color: grey;
}
.scrollIcon .fa-angle-left {
  margin-right: 50px;
}

#footer {
  background-color: #333333;
}

.footerFlexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0;
}
.footerFlexBox h3, .footerFlexBox h4 {
  letter-spacing: 1px;
}
.footerFlexBox h3 {
  color: #539908;
  font-size: 30px;
}
.footerFlexBox h4 {
  color: white;
  font-size: 18px;
}
.footerFlexBox .footerContact, .footerFlexBox .recentPosts, .footerFlexBox .subscribe {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  padding: 20px;
  margin: 50px;
}
.footerFlexBox .footerContact ul, .footerFlexBox .recentPosts ul, .footerFlexBox .subscribe ul {
  padding: 0;
  margin-top: 50px;
}
.footerFlexBox .footerContact p, .footerFlexBox .recentPosts p, .footerFlexBox .subscribe p {
  margin-top: 50px;
}
.footerFlexBox .footerContact li, .footerFlexBox .recentPosts li, .footerFlexBox .subscribe li {
  margin-top: 15px;
  padding: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.368627451);
}

.footerContact span {
  display: block;
}

.footerContact li:last-child, .recentPosts li:last-child {
  border: none;
}

.arrowButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.368627451);
}
.arrowButton #email {
  background-color: rgba(128, 128, 128, 0.582);
  color: #d1cdcd;
  border: none;
  font-family: "Lora", sans-serif;
  font-style: italic;
  padding: 10px 5px;
  font-size: 13px;
}
.arrowButton button {
  background-color: #539908;
  border: none;
  color: white;
  padding: 10px;
  font-size: 16px;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
}
.socialIcons i {
  color: white;
  padding: 10px 15px 0 0;
}

#footNote {
  background-color: #2e2e2e;
}
#footNote p {
  margin: 0;
  padding: 10px 70px;
  font-size: 13px;
  color: #d1cdcd;
}

#contact {
  background-image: url(../assets/contact-1.jpeg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: block;
}
#contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
  max-width: 90%;
}
#contact .navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
#contact .navBar li:nth-child(7) {
  color: #539908;
}

.dragonFruitImg {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.formSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.formSection .formContainer {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  padding-left: 200px;
}
.formSection .formContainer h2 {
  padding: 0 15px;
}
.formSection .formContainer .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.formSection .formContainer .contactForm input, .formSection .formContainer .contactForm textarea,
.formSection .formContainer .contactForm button {
  padding: 15px;
  margin: 10px;
}
.formSection .formContainer .contactForm button {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #539908;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  background-color: white;
}
.formSection .formContainer .contactForm textarea {
  resize: none;
}
.formSection .contactDetails {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  background-color: #f6f6f6;
  padding-right: 200px;
}
.formSection .contactDetails h4 {
  margin-top: 50px;
}
.formSection .contactDetails p {
  margin-top: 0;
}
.formSection .contactDetails ul {
  padding: 0;
}
.formSection .contactDetails ul li {
  padding: 0 0 20px 0;
}
.formSection .contactDetails ul li span {
  display: block;
}

.contactForm #email, #name {
  width: calc(50% - 20px);
}

#subject, #message {
  width: 100%;
  display: block;
}

.formContainer .wrapper,
.contactDetails .wrapper {
  padding: 100px 0;
}
.formContainer .wrapper h2,
.contactDetails .wrapper h2 {
  padding-bottom: 50px;
}